.header {
  width: 100%;
  margin-top: 60px;
  z-index: 10;
  position: relative;

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;

      .logoIcon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          filter: drop-shadow(0px 0px 6px rgba(245, 245, 247, 0.25));
        }
      }

      .logoText {
        font-family: "SFProText";
        font-weight: 400;
        font-size: 16px;
        transform: translateY(1px);
        opacity: 0.9;
      }
    }

    .linksWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;

      .navLink {
        a {
          text-decoration: none;
          color: #dedede;
          opacity: 0.8;
          transition: all 0.1s ease-in-out;

          &:hover {
            opacity: 1;
            transition: all 0.1s ease-in-out;
          }
        }
      }

      .socialLinks {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        a {
          opacity: 0.9;
          transition: all 0.1s ease-in-out;
          height: 30px;

          svg {
            transition: all 0.1s ease-in-out;
          }

          &:hover {
            opacity: 1;
            svg {
              filter: drop-shadow(0px 0px 6px rgba(245, 245, 247, 0.25));
              transition: all 0.1s ease-in-out;
            }
            transition: all 0.1s ease-in-out;
          }
        }
      }
    }
  }
}
